table {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.slogan {
  text-transform: uppercase;
}
