* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color:#fff;
}

#root {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas:hover {
  cursor: crosshair;
}
